body{
    font-family: arial;
    font-size: 200;
}
h1{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    background-color: aqua;
}
nav a{
    padding: 10px;
    text-decoration: none;
}
nav>a{
    color: black;
    font-weight: bold;
}
.contenedorFormulario{
    margin: auto;
    width: 500px;
}
.contenedorFormulario div{
    margin: 10px 0 10px 0;
}
.contenedorFormulario input{
    padding: 5px;
}




