body{
    font-family: arial;
        
    font-size: 14px;
}
.titulos{
    text-align: center;
}
.tittle{
    color:black;
    text-align: center;
}
nav{       
    background-color: black;    
    overflow: hidden;
}
nav>ul{
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: center;
}
nav>ul>li{      
    width:15%;
    text-align: center;
    padding: 0px;
}
nav>ul>li>a{    
    font-weight: bold;
    color:#fff;
    text-decoration: none;
       
} 
nav>ul>li>a>div{    
    font-weight: bold;
    color:#fff;    
    padding: 1em;  
} 
nav>ul>li>a>div>p{    
    margin: 0px;  
} 

nav>ul>li:hover,nav>ul>li>.submenu>li:hover,nav>ul>li>.submenu>li button:hover{
    background-color: rgb(44, 46, 48);
    cursor: pointer;
}
nav ul>li>.submenu{
    position: absolute;
    background-color: black;   
    list-style: none;
    width:15%;
    
    padding-left: 0;
    text-align: center;
    display: none;
}
nav>ul>li:hover>.submenu{
    display: block;
}

nav>ul>li>.submenu>li button{    
    font-weight: bold;
    color:#fff;
    background-color: black; 
    border:0px;
    padding:10px 30px;
    font-size: 15px;
    
}

.contenedorFormulario{
    margin: auto;
    width: 500px;    
}
.contenedorFormulario div{
    margin: 10px 0 10px 0;
}
.contenedorFormulario input{
    padding: 5px;
}
.alerta{
    color:red;
    text-align: center;
    font-size: 20px;
}
#tituloKean{
    padding-left: 50px;
    float: left;
    width: 50%;
}
#login{
    margin-left: 50%;
    padding-top: 20px;
}
#bienvenido{
    text-align: right;
    font-weight: bold;
    padding: 5px 20px 0 0;
    font-size: 20px;
}
.linkLogin{
    text-decoration: none; 
    color: blue; 
    font-weight: bold;
    font-size: 20px;
}

.imagenesDetalles{
    width: 400px; 
    text-align:center;
    margin-right: 20px;
}
#detalles{
    padding: 15px;
    border: 10px double black;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    width:910px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
    background-color: #F3F0EF;
}
.producto{
    background-color: white;
    margin: 10px 20px;
    padding:10px 20px;
    border:solid 1px #ccc;
}
.producto img{
    margin-left: auto;
    margin-right: auto;
    width:145px;
    height:135px;
}
.producto p{
    text-align: center;
    padding: 0px 5px;
    font-weight: bold;
}
.button{
    border-radius: 6px;
    border-color: blue;
    background-color: blue;
    padding: 5px 20px;
    text-align: center;
    color:white;
    margin-left: 15px;    
    cursor: pointer;
}
#contenidoperfil{
    display:flex;
}
.perfiles{
    border:solid 2px green;
    border-radius: 60px;
    justify-content: flex-start;
    width:300px;
    margin:10px;
    background-color: rgba(194, 189, 189, 0.836);
    padding-bottom: 50px;
}
.perfiles #fotoperfil{
    padding-top:20px;
    display:block;
    margin:auto;
    width:150px;
    height:135px;    

}
.perfiles p{
    font-weight: bold;
    color:black;
    padding-left: 40px;
}
.perfiles .general{
    font-weight: bold;
    color:black;
    text-align: center;
    padding-left: 0px;
    font-size: 19px;
}
.perfiles .valor{
    display:block;
    margin:auto;
    width:200px;
    height:50px;
    border-radius: 6px;
}
#mostrarproductos{
    display:flex;
    padding:20px;  
    
}
#comprados,#vendidos{
    margin:0px 10px;
}
#comprados .contenedor{
    display: flex;
    flex-wrap: wrap;
    width:455px;
    margin-left: auto;
    margin-right: auto;    
    border: solid 1px #F9866D;
    border-radius: 20px;
}
#vendidos .contenedor{
    display: flex;
    flex-wrap: wrap;
    width:455px;
    margin-left: auto;
    margin-right: auto;   
    border: solid 1px #82A4F7;
    border-radius: 20px;
}
#especial{
    padding-left:50%;
}
#espera{
    border: solid 1px red;
    background-color: red;
    font-weight: bold;
}
#comprado{
    border: solid 1px green;
    background-color: green;
    font-weight: bold;
}
#basedestacada{
    display: flex;
    padding:0 25%;    
}
#primero{
    padding:0 37.5%;
}
.vendedoresdestacados{
    padding:0 auto;
}
.voto{
    display:block;
    margin:10px auto;
    width:200px;
    height:50px;
    border-radius: 6px;
    background-color: green;
    border: solid 1px green;    
}
.boton{
    color: black;
    background-color: rgb(18, 219, 255);
    width: 200px;
    margin-left: 450px;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}
.pie{
    background-color: rgba(0,0,0,0.5);
}
.pie div{
    text-align: center;
    margin-top:15px;
    padding: 5px 0px;
}









